* {
  color: #526a7e;
}

.box-icons p {
  margin-top: 15px;
  font-weight: 600;
}
.home-div {
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .content-page {
    padding-top: 100px;
  }
}
