* {
  color: #526a7e;
}

.box-style {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  margin-right: 50px !important;
}
.box-icons p {
  margin-top: 15px;
  font-weight: 600;
}
.home-div {
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
}
.content-page {
  padding-top: 70px;
}

@media only screen and (max-width: 500px) {
  .content-page {
    padding-top: 0px;
  }

  .reverse-row1 {
    flex-direction: column-reverse;
  }
  .reverse-row2 {
    flex-direction: column;
  }
}
