@media only screen and (max-width: 500px) {
  .reverse-row1 {
    flex-direction: column-reverse;
  }
  .reverse-row2 {
    flex-direction: column;
  }

  .margin-item {
    margin-left: 0px !important;
  }
}

.marginHori {
  margin-left: 0 !important ;
  margin-left: 0 !important ;
}
