.footer h5 {
  color: #183b56;
}

.footer .ft-bottom-banner {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #181110;
}

a {
  text-decoration: none !important;
  color: #526a7e !important;
}

@media only screen and (max-width: 500px) {
  .footer-l {
    margin-left: 0 !important;
  }
  .footer-r {
    margin-right: 0 !important;
  }
}
